body {
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensure the body takes up the full height of the viewport */
}

.dropdown-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  max-width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.dropdown-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.dropdown-group label {
  width: 100%;
  margin-right: 10px;
  margin-bottom: 3px;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 30px;
}

.dropdown-container .dropdown-group {
  flex: 1 1 auto;
  min-width: 200px;
}

input[type="button"] {
  background-color: #0f1cdd;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  flex-shrink: 0;
  height: 46px;
}

input[type="button"]:hover {
  background-color: #0d1aa6;
}

select[style*="visibility: hidden"] {
  width: 0;
  height: 0;
  padding: 0;
  border: none;
}

#logo {
  width: 100px;
  height: auto;
}

h1 {
  color: #0f1cdd;
  text-align: center;
}
#imageLabel {
  text-align: center;
  color: #2200ffed; /* Change color to red, or any preferred color */
  font-size: 1.1em; /* Adjust size if needed */
  margin-top: 10px; /* Adds space above the label */
  margin-bottom: 10px; /* Adds space below the label */
}
#imagesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh; /* Ensure images container fits within the viewport */
  overflow: hidden; /* Prevent overflow to avoid scrolling */
}

#imagesContainer img {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  display: none;
  object-fit: contain; /* Scale image to fit without stretching */
  position: relative;
}

#Kit {
  display: block;
  margin: auto;
  position: relative;
  left: 0px; /* Adjust as needed to move the default image to the right */
}

